doctype html
.image-cropper-container(*ngIf='options')
	.image-container
		canvas.image-canvas(
			#imageCanvas,
			(mousedown)='onMouseDown($event)',
			(mousemove)='onMouseMove($event)'
		)
	.slider-container
		mat-slider([max]='zoomMax', [min]='zoomMin', [step]='zoomStep', [value]='currentZoomLevel', (change)='changeZoomLevel($event)')
	button.crop-button(mat-raised-button, (click)='cropImage()') Crop
