doctype html
.image-cropper-container(*ngIf='options')
	.image-container
		canvas.image-canvas(
			#imageCanvas,
			(mousedown)='onMouseDown($event)',
			(mousemove)='onMouseMove($event)'
		)
	//- .slider-container
		mat-slider(max='1.5', min='0.5', step='0.1', [(value)]='currentZoomLevel')
	button.crop-button(mat-raised-button, (click)='cropImage()') Crop
