doctype html
.image-cropper-container(*ngIf='options')
	.image-container
		canvas.image-canvas(
			#imageCanvas,
			(mousedown)='onMouseDown($event)',
			(touchstart)='onTouchStart($event)'
		)
	.slider-container
		mat-slider(
			#matSliderElement,
			[max]='zoomMax - zoomStep',
			[min]='zoomMin',
			[step]='zoomStep',
			[value]='zoomSliderValue',
			(change)='changeZoomLevel($event)'
		)
	button.crop-button(mat-raised-button, (click)='cropImage()') Crop
