doctype html
.rui-file-input-container(
	#masterContainer,
	[ngClass]='{"drop-zone-active": dropZoneActive && !fieldData.readOnly, "invalid": fieldData.inputFormControl.invalid, "non-pristine": fieldData.inputFormControl.dirty || fieldData.inputFormControl.touched, "has-value": fieldData.inputFormControl.value !== ""}',
	(dragleave)='onDragLeave($event)',
	(dragover)='onDragOver($event)',
	(drop)='onDrop($event)'
)
	div(#placeholder)
		label.placeholder {{ fieldData.placeholder }}
	.drop-zone-active-area(
		*ngIf='dropZoneActive && !fieldData.readOnly',
		[ngStyle]='{"height": dropZoneActiveAreaHeight, "width": dropZoneActiveAreaWidth}'
	)
		.drop-zone-text Drop files here
	div(
		*ngIf='fieldData.preview && fieldData.previewCancelButton && ((fieldData.inputFormControl.value && (fieldData.inputFormControl.value !== "")) || forceShowPreviewCancelButton)',
		[ngStyle]='{"width": previewWidth}'
	)
		.cancel-button(
			[ngStyle]='{"background-image": previewCancelButtonIconUrl}',
			(click)='onFileChange({target: {files: []}})'
		)
	.file-preview.image-container(
		*ngIf='fieldData.preview && (backgroundImageUrl !== "")',
		[ngClass]='{"is-round": previewIsRound}',
		[ngStyle]='{"background-image": backgroundImageUrl, "width": previewWidth, "height": previewHeight}',
		(click)='onLabelClick()'
	)
		mat-spinner(*ngIf='fileIsLoading && !showChooseFileButton')
	div.button-wrapper([ngStyle]='{"width": fieldData.hideFileName ? previewWidth : "auto"}')
		label.mat-raised-button(
			*ngIf='showChooseFileButton && !fieldData.readOnly',
			[ngStyle]='{"width": fieldData.hideFileName ? "100%" : "auto"}',
			(click)='onLabelClick()'
		)
			mat-spinner(*ngIf='fileIsLoading')
			| Choose File
		span.file-name(
			*ngIf='!fieldData.hideFileName && showChooseFileButton'
		)
			| {{ !fieldData.inputFormControl.value || (fieldData.inputFormControl.value === '') ? 'No file chosen...' : fileName }}
		input.actual-file-input(#inputElement, type='file', [readonly]='fieldData.readOnly', (change)='onFileChange($event)')
	div.errors-container
		include ../base/baseInput.commonElementsTemplate.pug
