doctype html
.rui-file-input-container(
	[ngClass]='[fieldData.inputFormControl.invalid ? "invalid" : "", (fieldData.inputFormControl.dirty || fieldData.inputFormControl.touched) ? "non-pristine" : "", fieldData.inputFormControl.value !== "" ? "has-value" : ""]'
)
	div
		label.placeholder {{fieldData.placeholder}}
	div(
		*ngIf='fieldData.preview && fieldData.previewCancelButton',
		[ngStyle]='{"width": previewWidth}'
	)
		.cancel-button(
			[ngStyle]='{"background-image": previewCancelButtonIconUrl}',
			(click)='onFileChange({target: {files: []}})'
		)
	.file-preview.image-container(
		*ngIf='fieldData.preview && (backgroundImageUrl !== "")',
		[ngClass]='{"is-round": previewIsRound}',
		[ngStyle]='{"background-image": backgroundImageUrl, "width": previewWidth, "height": previewHeight}',
		(click)='onLabelClick()'
	)
	div.button-wrapper([ngStyle]='{"width": fieldData.hideFileName ? previewWidth : "auto"}')
		label.mat-raised-button(
			*ngIf='showChooseFileButton',
			[ngStyle]='{"width": fieldData.hideFileName ? "100%" : "auto"}',
			(click)='onLabelClick()'
		) Choose File
		span.file-name(
			*ngIf='!fieldData.hideFileName && showChooseFileButton'
		) {{!fieldData.inputFormControl.value || (fieldData.inputFormControl.value === '') ? 'No file chosen...' : fileName}}
		input.actual-file-input(#fileInput, type='file', (change)='onFileChange($event)')
	div.errors-container
		include ../base/baseInput.commonElementsTemplate.pug
