mat-form-field.rui-input-container
	input(matInput, [formControl]='fieldData.inputFormControl', [placeholder]='fieldData.placeholder', [type]='fieldData.type')
	include ../base/baseInput.commonElementsTemplate.pug
