mat-form-field.rui-input-container
	input(
		matInput,
		[formControl]='fieldData.inputFormControl',
		[max]='fieldData.max',
		[min]='fieldData.min',
		[placeholder]='fieldData.placeholder',
		[readonly]='fieldData.readOnly',
		[type]='fieldData.type'
	)
	include ../base/baseInput.commonElementsTemplate.pug
