doctype html
mat-form-field.rui-input-container
	input(
		matInput,
		[formControl]='fieldData.inputFormControl',
		[matDatepicker]='picker',
		[readonly]='fieldData.readOnly',
		[placeholder]='fieldData.placeholder'
	)
	mat-datepicker-toggle(*ngIf='!fieldData.readOnly', matSuffix, [for]='picker')
	mat-datepicker(#picker)
	include ../base/baseInput.commonElementsTemplate.pug
