doctype html
mat-form-field.rui-input-container(
	[floatLabel]='fieldData.floatLabel',
	[hideRequiredMarker]='fieldData.hideRequiredMarker'
)
	input(
		#inputElement,
		matInput,
		[formControl]='fieldData.inputFormControl',
		[matDatepicker]='picker',
		[max]='fieldData.maxDate',
		[min]='fieldData.minDate',
		[placeholder]='fieldData.placeholder',
		[readonly]='fieldData.readOnly',
		(focus)='openCalendar(picker)',
		(click)='openCalendar(picker)'
	)
	mat-datepicker-toggle(*ngIf='!fieldData.readOnly', matSuffix, [for]='picker')
	mat-datepicker(#picker)
	include ../base/baseInput.commonElementsTemplate.pug
