doctype html
mat-form-field.rui-input-container(
	[floatLabel]='fieldData.floatLabel',
	[hideRequiredMarker]='fieldData.hideRequiredMarker'
)
	mat-label(*ngIf='fieldData.label') {{ fieldData.label }}
	textarea(
		#inputElement,
		matInput,
		[formControl]='fieldData.inputFormControl',
		[placeholder]='fieldData.placeholder',
		[readonly]='fieldData.readOnly',
		cdkTextareaAutosize,
		[cdkAutosizeMinRows]='minRows',
		[cdkAutosizeMaxRows]='maxRows'
	)
	include ../base/baseInput.commonElementsTemplate.pug
