doctype html
mat-form-field.rui-input-container(
	[floatLabel]='fieldData.floatLabel',
	[hideRequiredMarker]='fieldData.hideRequiredMarker'
)
	mat-label(*ngIf='fieldData.label') {{ fieldData.label }}
	mat-select(
		#inputElement,
		[disabled]='fieldData.readOnly',
		[formControl]='fieldData.inputFormControl',
		[placeholder]='fieldData.placeholder'
	) 
		mat-option(*ngFor='let option of fieldData.selectList', [value]="option.value") {{option.text}}
	include ../base/baseInput.commonElementsTemplate.pug