rui-autocomplete(*ngIf='type === "autocomplete"', [fieldData]='fieldData')
rui-checkbox(*ngIf='type === "checkbox"', [fieldData]='fieldData')
rui-datepicker(*ngIf='type === "datepicker"', [fieldData]='fieldData')
rui-file-input(*ngIf='type === "file"', [fieldData]='fieldData')
rui-input(*ngIf='type === "input"', [fieldData]='fieldData')
rui-select(*ngIf='type === "select"', [fieldData]='fieldData')
rui-slide-toggle(*ngIf='type === "slideToggle"', [fieldData]='fieldData')
rui-textarea(*ngIf='type === "textarea"', [fieldData]='fieldData')
