doctype html
div.rui-input-container
	mat-slide-toggle(#inputElement, [disabled]='fieldData.readOnly', [formControl]='fieldData.inputFormControl') {{fieldData.placeholder}}
	include ../base/baseInput.commonElementsTemplate.pug
